resources/icons/.DS_Store
resources.py
labelImg.egg-info*

*.pyc
.*.swp

build/
dist/

tags
cscope*
.ycm_extra_conf.py
.subvimrc
.vscode
*.pkl
Pipfile
*.xml

# MacOS System-Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE
*.DS_Store
*.iml
.idea
.unison*
.attach*
tmp.*

YOLO_v11/val/images
YOLO_v11/val/labels
YOLO_v11/train/images
YOLO_v11/train/labels
YOLO_v11/val/images_full
YOLO_v11/val/labels_full
YOLO_v11/train/images_full
YOLO_v11/train/labels_full
YOLO_v11/test/images
YOLO_v11/test/labels

/.venv
.venv
.venv/*
crop_dir.zip